@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
nav.navbar.navbar-expand-lg.navbar-dark.shadow {
    /* border-bottom: 8px solid #ff8d00; */
    /* background-color: #111922!important; */
    /* background:linear-gradient(90deg, rgba(0,0,0,1) 12%, rgba(29,37,45,1) 45%, rgba(136,140,145,1) 100%); */
    background: linear-gradient(90deg, rgb(90 91 93) 12%, rgb(74 127 206)45%, rgb(187 187 187) 100%);
}

.navbar small {
    color: #f5f5f5;
}

.btn {
    font-size: 0.8vw;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #e7e8e847;
    font-size: 0.8vw;
}

.navbar-dark .navbar-brand {
    color: #ffbc68;
}

.footer{
    background-color: #d8d8d861;
}

h3.display-6 {
    /* background: #1d252d; */
    /* background: linear-gradient(90deg, rgba(0,0,0,1) 12%, rgba(29,37,45,1) 45%, rgba(136,140,145,1) 100%);
    color: #888c91;
    padding: 1vw;
    border-radius: 4px; */
    /* background: linear-gradient(90deg, rgb(0 0 0 / 7%) 12%, rgb(29 37 45 / 52%) 45%, rgb(136 140 145 / 0%) 100%); */
    background:linear-gradient(90deg, rgb(0 0 0 / 7%) 12%, rgb(29 37 45 / 2%) 45%, rgb(136 140 145 / 0%) 100%);
    color: #111a25;
    padding: 0.6vw 1.1vw;
    border-radius: 10px;
    font-size: 1.3vw;
}

.navbar-dark .navbar-nav .nav-link {
    color: #cedef5;
    border: 1px solid #ffffff52;
    margin: 0 0.2vw;
    font-size: 0.72vw;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: #e3ecfa;
    font-weight: 550;
}

.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .nav-link.active {
    color: #f8f8f8;
    border: 1px solid #f8f8f8b8;
}

/* datatable processing */
.dataTables_processing.card {
    color: #4b545d;
    font-size: 0.7vw;
    padding: 0.4vw 1vw;
    position: fixed;
    text-align: center;
    width: 100px;
    top: 0.5%;
    right: 0%;
    min-width: 100px;
    word-wrap: break-word;
    background-color: #ffffff8c;
    border: none!important;
    border-radius: 0.25rem;
    z-index: 9999;
  }

  /* sweet alert */
  .swal2-title {
    font-size: 1.37vw !important;
  }

  .swal2-content {
    font-size: 1vw !important;
  }

.swal2-container.swal2-backdrop-show, .swal2-container.swal2-noanimation {
    background: rgb(188 216 232 / 38%) !important;
}
.swal2-popup {
    border: 0.4px solid #0210252e!important;
}


